html, body {
  height: 100%;
}

body {
    background-color: grey;
    overflow: auto;
    
}





 #sketch {
  margin 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}


.container {
    width: 600px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    height: 80px
    
}

.unPause {
    text-align: center;
    
}


#Clicker {
    float:left
    width: 53px;
}

